footer {
    background: #505050;
    position: static;
    padding-top: 1.0rem;
    padding-bottom: 1.0rem;
    bottom: 0;
    left:0;
    right:0;
    width: 100%;
    text-align: center;
}

footer p {
    display: inline;
    color: white;
    padding-left:1rem;
}
