.home {
    text-align: center;
}

.jumbotron {
    background-color:#e3c2a3 !important;
}

.home-title {
    padding-top: 5.0rem;
    padding-bottom: 5.0rem;
}

.home-title h4 {
    padding-top: 1.0rem;
}

.card-block h4 {
    padding-top: 2.5rem;
}

.card-block p {
    padding-left: 1.0rem;
    padding-right: 1.0rem;
}

img {
    max-width: 10px;
}
